body {margin:0px;background:#EEEEEE;}
.aboutus{width:1100px;min-height:500px;height:100%;margin:0 auto;background:#FFF;zoom:1;display:block;overflow:hidden;}
.aboutus .about_left{width:750px;min-height:500px;float:left;padding:0 20px 0 20px;border-right:1px dashed #CCC;background:#FFF;}
.aboutus .about_left h2{text-align:center}
.aboutus .about_left p{text-indent:2em;color:#545454;font-size:14px;}
.aboutus .about_left a{color:#545454;text-decoration:none;font-family:'Microsoft YaHei';}
.aboutus .about_right{width:300px;float:right;}
.aboutus .about_right div{height:40px;width:100%;line-height:35px;margin-top:10px;text-align:center;border-bottom:1px dashed #CCCCCC;}
.aboutus .about_right a{font-size:14px;font-weight:bold;color:#008D9E;font-family:"Microsoft YaHei"; text-decoration:none;}