@media (max-width: 767px) {
    .nav-custom{
        display: flex!important;
        flex-direction: row!important;
        flex-wrap: wrap!important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .nav-custom {
        display: flex!important;
        flex-direction: row!important;
        flex-wrap: wrap!important;
        width: 94%;
    }
}
@media (min-width: 991px) and (max-width: 1200px) {
    .nav-custom {
        /*display: flex!important;*/
        /*flex-direction: row!important;*/
        /*flex-wrap: wrap!important;*/
        width: 96%;
    }
}
.container-custom{background:#FFFFFF;border-radius: 5px;}
body {
    background:#E1E1E1;
    margin: 0;
}
.footer{width:100%;clear:both;background:#2186D3;margin:0px;padding:0px;margin-top:20px;}

.foot{margin:0px auto;padding-top:10px;min-height:150px;}

.foot{line-height:20px;text-align:center;font-size:12px;color:#FFFFFF;}

.foot a{color:#FFFFFF;text-decoration: none;text-align:center;}

.foot a:hover{color:#ff3300;}
.nav-custom-hover {
    background-color: #E1E1E1 !important;
}

.nav-content {
    min-height: 60px;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-content a {
    margin-right: 30px;
    line-height: 30px;
    display: inline-block;
}
.knowledge-title{
    font-weight:bold;
    font-size:20px;
}
button{
    outline: none!important;
}